

<div class="main-content">
    <div class="section__content section__content--p30">
<div class="container text-center">
<div class="top-campaign">
    <h3 class="title-3 m-b-30">Select Category
    </h3>
    <div class="table-responsive">

        <a [routerLink]="['/dashboard/add/biography']">
          <div>  <p>Biography</p>
                </div></a>

                <a [routerLink]="['/dashboard/add/novel']">  <div>
                    <p>Novel</p>
                   </div></a>
                    <a [routerLink]="['/dashboard/add/selfhelp']"> 
                <div>
                    <p>Self-Help</p>
                </div></a>
                <a [routerLink]="['/dashboard/add/business']">  <div>
                    <p>Business</p>
                    
                </div></a>
                <a [routerLink]="['/dashboard/add/science']"> <div>
                    <p>Science</p>
                </div></a>
                <a [routerLink]="['/dashboard/add/technology']"> <div>
                    <p>Technology</p>
                </div></a>
           
    </div>
</div>
</div>
</div>
