  <!-- HEADER MOBILE-->
  <header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="index.html">
                    <img src="assets/images/logo-black.png" alt="PaperLouge" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                    <li>
                            <a [routerLink]="['/dashboard']" class="toggle">
                                <i class="fas fa-chart-bar "></i>Dashboard</a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard/users']" class="toggle">
                                <i class="fas fa-user"></i>Users</a>
                        </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-book"></i>Books <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span></a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                    <a class="toggle" [routerLink]="['/dashboard/books/biography']"><i class="fas fa-list-alt"></i>Biographies</a>
                                </li>
                                <li>
                                    <a class="toggle" [routerLink]="['/dashboard/books/novel']"><i class="fas fa-list-alt"></i>Novels</a>
                                </li>
                                <li>
                                    <a class="toggle" [routerLink]="['/dashboard/books/selfhelp']"><i class="fas fa-list-alt"></i>Self-Help</a>
                                </li>
                                <li>
                                    <a class="toggle" [routerLink]="['/dashboard/books/science']" ><i class="fas fa-list-alt"></i>Science</a>
                                </li>
                                <li>
                                    <a class="toggle" [routerLink]="['/dashboard/books/business']"><i class="fas fa-list-alt"></i>Business</a>
                                </li>
                                <li>
                                    <a class="toggle" [routerLink]="['/dashboard/books/technology']"><i class="fas fa-list-alt"></i>Technology</a>
                                </li>
                    </ul>
                </li>
                <li>
                        <a [routerLink]="['/dashboard/category']" class="toggle">
                            <i class="fas fa-plus"></i>Add Books</a>
                    </li>
                    <li>
                            <a (click)="logout()" class="toggle"><i class="fas fa-power-off"></i>Logout</a>
                    </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->

<!--SIDEBAR -->
<app-sidebar></app-sidebar>
<!--SIDEBAR ENDS -->

<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap">

                        <!-- <div class="content-mobile">

                             
                                <button (click)="logout()" class="btn btn-default"><i class="fas fa-power-off"><span>Logout</span></i></button>
                            </div> -->
                    <!-- <form class="form-header" action="" method="POST">
                        <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                        <button class="au-btn--submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form> -->
                    <div class="welcome-user">
                        <h4 class="text-white text-center">Welcome to PaperLouge Admin Panel</h4>
                    </div>
                    <div class="header-button">
                
                        <div class="account-wrap">
                            <div class="account-item clearfix js-item-menu">
                                <div class="image">
                                    <!-- <img src="assets/images/icon/avatar-01.jpg" alt="John Doe" /> -->
                                </div>
                                <div class="content">
                                    <!-- <a class="js-acc-btn" href="#">john doe</a> -->
                                    <button (click)="logout()" class="btn btn-default">Logout</button>
                                </div>
                                <!-- <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="assets/images/icon/avatar-01.jpg" alt="John Doe" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">john doe</a>
                                            </h5>
                                            <span class="email">johndoe@example.com</span>
                                            <button (click)="logout()" class="btn btn-secondary">Logout</button>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Billing</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="#">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER DESKTOP-->
</div>
